* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    color: white;
}
#canvasfond {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
header {
    width: 100%;
    text-align: center;
}
/*-------------------------------------------------------------------Logo------------------------------------------------------------------*/
.logo {
    background:#402A1E;
}
#logo {
    animation: fill 0.8s ease forwards 4.2s;
}
#logo :nth-child(1){
    stroke-dasharray: 1222;
    stroke-dashoffset: 1222;
    animation: line-anime 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anime 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 752;
    stroke-dashoffset: 752;
    animation: line-anime 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anime 2s ease forwards 0.9s;
}
#logo path:nth-child(5){
    stroke-dasharray: 496;
    stroke-dashoffset: 496;
    animation: line-anime 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anime 2s ease forwards 1.5s;
}
#logo path:nth-child(7){
    stroke-dasharray: 716;
    stroke-dashoffset: 716;
    animation: line-anime 2s ease forwards 1.8s;
}
#logo path:nth-child(8){
    stroke-dasharray: 753;
    stroke-dashoffset: 753;
    animation: line-anime 2s ease forwards 2.1s;
}
#logo path:nth-child(9){
    stroke-dasharray: 816;
    stroke-dashoffset: 816;
    animation: line-anime 2s ease forwards 2.4s;
}

@keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from {
        fill: transparent;
    } to {
        fill: rgba(255, 255, 255, 0.205);
    }
}
/*-------------------------------------------------------------Nav----------------------------------------------------------------------*/
nav {
    background: brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    margin-left: 2vw;
}
input {
    align-items: center;
    border-radius: 0.7em;
    border: none;
    margin: 0.2vw;
}
/*--------------------------------------------------------Cartes--------------------------------------------------------------------------*/
.container-card {
    padding: 2vw 5vw 2vw 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12vw,1fr));
}
.card {
    background: linear-gradient( to bottom left, #b68484, #a71b1b);
    width: 15vw;
    height: 22vw;
    border: white 2px solid;
    position: relative;
    overflow: hidden;
    box-shadow: -40px 0 40px black;
    border-radius: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.card:hover {
    transition: all 0.5s ease;
    transform: translateX(-1vw) scale(1.15);
}
.card:hover + .card {
    transition: all 0.5s ease;
    transform: translateX(5vw);
}
img {
    width: 100%;
}
div {
    overflow-y: hidden;
}
.card :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1.5vw;
    color: black;
}
p{
    font-weight: bolder;
}
.card1 {
    background: linear-gradient(to left, #8FB786, #D1755D);
}
.card2 {
    background: linear-gradient(to left, #8FB786, #D1755D);
}
.card3 {
    background: linear-gradient(to left, #8FB786, #D1755D);
}
.card4 {
    background: linear-gradient(to left, #8FB786, #D1755D);
}
.card5 {
    background: linear-gradient(to left, #8FB786, #D1755D);
}
.card6 {
    background: linear-gradient(to left, #8FB786, #D1755D);
}
/*-------------------------------------------------------Catégories----------------------------------------------------------------------*/
h1 {
    text-align: center;
}
.container-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
    padding: 2vw;
}

.categorie1 {
    background-image: linear-gradient(to right, #87be43b9, #b06dd7c0),url(../img/Gus-petit-oiseau-grand-voyage.jpg);
    background-size: cover;
    height: 20vw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.categorie2 {
    background-image: linear-gradient(to right, #694eaec7, #37cf9ac9), url(../img/sun.jpg);
    background-size: cover;
    height: 20vw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.categorie3 {
    background: linear-gradient(to left, #22ccc1c9, #2f48e9c9), url(../img/consciousness.jpg);
    background-size: cover;
    height: 20vw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.categorie4 {
    background-image: linear-gradient(to right, #af7373d2, #c22c54d0), url(../img/tears.webp);
    background-size: cover;
    height: 20vw;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
h2 {
    text-align: center;
    font-size: 3vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*---------------------------------------------------------------------Footer------------------------------------------------------------*/
footer {
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
}